@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

$font-1: 'Lato', sans-serif;
$font-2: 'Fredoka One', cursive;
$primaire: #FD2D01;
$primClaire: lighten(#FD2D01, 25%);
$secondaire:#ffd7d7;
$secondClaire: lighten(#ffd7d7, 5%);
$tertiaire: #4E5166;
$tertiClaire: lighten(#4E5166, 45%);

* {
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    // outline: none;
    // border: none;
}

:root {
    // un REM = 10px
    font-size: 62.5%; 
}
body {
    padding: 1rem;
    font-weight: 700;
    font-family: $font-1;
    color: #000;
}
input{
    border-style: unset;
}

